@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

#header {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #333333;
}
#header .header_top {
  background: #f5f6f8;
  padding: 16px;
}
#header .header_top .header_right {
  display: flex;
  justify-content: end;
}
#header .header_top .header_right .dropdown_elements {
  display: flex;
  gap: 20px;
  border-right: 2px solid #ccc;
  padding-right: 20px;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_item {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_item span {
  font-size: 10px;
  margin-left: 2px;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all linear 0.3s;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_box li {
  display: flex;
  gap: 5px;
}
#header .header_top .header_right .dropdown_elements .dropdown:hover .dropdown_box {
  visibility: visible;
  opacity: 1;
  left: 50%;
  top: 150%;
}
#header .header_top .header_right .header_account ul {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}
#header .header_top .header_right .header_account ul a {
  color: #333333;
}
#header .header_middle {
  padding: 30px;
}
#header .header_middle .header_left {
  display: flex;
  gap: 80px;
  align-items: center;
}
#header .header_middle .header_left img {
  width: 150px;
}
#header .header_middle .header_left .search_box {
  border: 2px solid #842b6e;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 6px;
}
#header .header_middle .header_left .search_box .categories_box {
  border-right: 1px solid #ccc;
  padding: 10px;
  margin-right: 14px;
}
#header .header_middle .header_left .search_box .categories_box .custom_dropdown {
  border: none;
  color: #666;
}
#header .header_middle .header_left .search_box input {
  border: none;
  width: 350px;
}
#header .header_middle .header_left .search_box button {
  border: none;
  background: transparent;
  padding-right: 10px;
  color: #757575;
  font-size: 17px;
}
#header .header_middle .hello {
  display: flex;
  align-items: center;
}
#header .header_middle .hello .hadder_right {
  display: flex;
}
#header .header_middle .hello .hadder_right .live_chat {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #ccc;
  padding-right: 25px;
}
#header .header_middle .hello .hadder_right .live_chat ul a {
  font-size: 30px;
  color: #333;
}
#header .header_middle .hello .hadder_right .live_chat .chat_info p {
  font-size: 16px;
  line-height: 15px;
}
#header .header_middle .hello .hadder_right .live_chat .chat_info p span {
  color: #999999;
}
#header .header_middle .hello .hadder_right .live_chat .chat_info a {
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  color: #333;
}
#header .header_middle .hello .hadder_right .cart {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 25px;
}
#header .header_middle .hello .hadder_right .cart a {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  color: #333;
  font-size: 27px;
}
#header .header_middle .hello .hadder_right .cart a span {
  font-size: 12px;
}
#header .header_middle .hello .hadder_right .cart a .select_items {
  position: absolute;
  top: -4px;
  left: 13px;
  color: #ffffff;
  font-size: 11px;
  line-height: 6px;
  background: #336699;
  border-radius: 50px;
  padding: 5px;
}
#header .header_middle .hello .hadder_right .cart_offcanvas {
  width: 340px;
  padding: 30px;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .offcanvas_title {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding: 0 0 14px 0;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .offcanvas_title h5 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #333;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .offcanvas_title button {
  border: none;
  background: transparent;
  color: #666666;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list {
  padding: 0;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .cart_items .product_list {
  display: flex;
  padding: 20px 0 0 0;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .cart_items .product_list .product_name {
  margin-right: 50px;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .cart_items .product_list .product_name h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 12px;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .cart_items .product_list .product_name p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #999999;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .cart_items .product_list .product_name p span {
  color: #336699;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .cart_items .product_list img {
  width: 80px;
  height: 90px;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .total_amount {
  padding-top: 20px;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .total_amount .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid rgba(102, 102, 102, 0.2);
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .total_amount .price h6 {
  font-size: 14px;
  line-height: 14px;
  color: #333;
  font-weight: 600;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .total_amount .price p {
  font-size: 16px;
  line-height: 16px;
  color: #333;
  font-weight: 600;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .checkout {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .checkout .view_cart {
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 3px;
  transition: 0.3s;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .checkout .view_cart:hover {
  background: #336699;
  color: #fff;
  border: 2px solid #336699;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .checkout .checkout_btn {
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 3px;
  transition: 0.3s;
  background: #336699;
  border: 2px solid #336699;
  color: #fff;
}
#header .header_middle .hello .hadder_right .cart_offcanvas .cart_list .checkout .checkout_btn:hover {
  background: #3c78b4;
  border: 2px solid #3c78b4;
}/*# sourceMappingURL=style.css.map */