@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

#header {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #333333;
}
#header .header_top {
  background: #f5f6f8;
  padding: 16px;
}
#header .header_top .header_right {
  display: flex;
  justify-content: end;
}
#header .header_top .header_right .dropdown_elements {
  display: flex;
  gap: 20px;
  border-right: 2px solid #ccc;
  padding-right: 20px;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_item {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_item p {
  transition: 0.3s;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_item p:hover {
  color: #fc6782;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_item span {
  font-size: 10px;
  margin-left: 2px;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all linear 0.3s;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
}
#header .header_top .header_right .dropdown_elements .dropdown .dropdown_box li {
  display: flex;
  gap: 5px;
  color: #fc6782;
}
#header .header_top .header_right .dropdown_elements .dropdown:hover .dropdown_box {
  visibility: visible;
  opacity: 1;
  left: 50%;
  top: 150%;
}
#header .header_top .header_right .header_account ul {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}
#header .header_top .header_right .header_account ul a {
  color: #fc6782;
}
#header .header_middle {
  padding: 30px;
}
#header .header_middle .header_left {
  display: flex;
  gap: 80px;
  align-items: center;
}
#header .header_middle .header_left img {
  width: 150px;
}
#header .header_middle .header_left .search_box {
  border: 2px solid #be3265;
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 6px;
}
#header .header_middle .header_left .search_box .categories_box {
  border-right: 1px solid #ccc;
  padding: 10px;
  margin-right: 14px;
}
#header .header_middle .header_left .search_box .categories_box .custom_dropdown {
  border: none;
  color: #666;
}
#header .header_middle .header_left .search_box input {
  border: none;
  width: 350px;
}
#header .header_middle .header_left .search_box button {
  border: none;
  background: transparent;
  padding-right: 10px;
  color: #757575;
  font-size: 17px;
}
#header .header_middle .hadder_right {
  display: flex;
  align-items: center;
}
#header .header_middle .hadder_right .right_side {
  display: flex;
}
#header .header_middle .hadder_right .right_side .live_chat {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: 1px solid #ccc;
  padding-right: 25px;
}
#header .header_middle .hadder_right .right_side .live_chat ul a {
  font-size: 30px;
  color: #333;
}
#header .header_middle .hadder_right .right_side .live_chat .chat_info p {
  font-size: 16px;
  line-height: 15px;
}
#header .header_middle .hadder_right .right_side .live_chat .chat_info p span {
  color: #999999;
}
#header .header_middle .hadder_right .right_side .live_chat .chat_info a {
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
  color: #333;
}
#header .header_middle .hadder_right .right_side .cart {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 25px;
}
#header .header_middle .hadder_right .right_side .cart a {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  color: #333;
  font-size: 27px;
}
#header .header_middle .hadder_right .right_side .cart a span {
  font-size: 12px;
}
#header .header_middle .hadder_right .right_side .cart a .select_items {
  position: absolute;
  top: -4px;
  left: 13px;
  color: #ffffff;
  font-size: 11px;
  line-height: 6px;
  background: #fc6782;
  border-radius: 50px;
  padding: 5px;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas {
  width: 340px;
  padding: 30px;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .offcanvas_title {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding: 0 0 14px 0;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .offcanvas_title h5 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #333;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .offcanvas_title button {
  border: none;
  background: transparent;
  color: #666666;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list {
  padding: 0;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .cart_items .product_list {
  display: flex;
  padding: 20px 0 0 0;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .cart_items .product_list .product_name {
  margin-right: 50px;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .cart_items .product_list .product_name h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 12px;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .cart_items .product_list .product_name p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #999999;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .cart_items .product_list .product_name p span {
  color: #336699;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .cart_items .product_list img {
  width: 80px;
  height: 90px;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .total_amount {
  padding-top: 20px;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .total_amount .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid rgba(102, 102, 102, 0.2);
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .total_amount .price h6 {
  font-size: 14px;
  line-height: 14px;
  color: #333;
  font-weight: 600;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .total_amount .price p {
  font-size: 16px;
  line-height: 16px;
  color: #333;
  font-weight: 600;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .checkout {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .checkout .view_cart {
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 3px;
  transition: 0.3s;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .checkout .view_cart:hover {
  background: #336699;
  color: #fff;
  border: 2px solid #336699;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .checkout .checkout_btn {
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 3px;
  transition: 0.3s;
  background: #336699;
  border: 2px solid #336699;
  color: #fff;
}
#header .header_middle .hadder_right .right_side .cart_offcanvas .cart_list .checkout .checkout_btn:hover {
  background: #3c78b4;
  border: 2px solid #3c78b4;
}
#header .main_menu .brows_category {
  position: relative;
}
#header .main_menu .brows_category h2 {
  font-size: 14px;
  font-weight: 600;
  background: #f1f1f1;
  padding: 20px;
}
#header .main_menu .brows_category h2 a {
  display: flex;
  justify-content: space-between;
  color: #333333;
}
#header .main_menu .brows_category .category_box {
  background: rgb(255, 255, 255);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 8px 0 8px 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 999;
}
#header .main_menu .brows_category .category_box .category_menu > li {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding: 13px 14px 13px 12px;
  cursor: pointer;
}
#header .main_menu .brows_category .category_box .category_menu > li a {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
}
#header .main_menu .brows_category .category_box .category_menu > li a span i {
  padding-right: 7px;
  font-size: 15px;
}
#header .main_menu .brows_category .category_box .category_menu > li a .catemenu_arrow i {
  font-size: 10px;
  transition: all linear 0.2s;
}
#header .main_menu .brows_category .category_box .category_menu > li:hover .catemenu_arrow i {
  transform: translateX(50%);
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 96%;
  width: 685px;
  background: #fff;
  transition: all linear 0.1s;
  padding-left: 20px;
  box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .megamenu_items h4 {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding-top: 25px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .megamenu_items ul {
  width: 195px;
  padding-top: 6px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .megamenu_items ul li {
  padding-top: 10px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .megamenu_items ul a {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .category_img {
  position: relative;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .category_img .fashionimg_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 0 0 30px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .category_img .fashionimg_text p {
  line-height: 14px;
  font-weight: 600px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .category_img .fashionimg_text p span {
  color: #fc6782;
  font-weight: 700;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .category_img .fashionimg_text h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  padding: 5px 0 14px 0;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .category_img .fashionimg_text a {
  font-size: 13px;
  color: #000;
  font-weight: 600;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .category_img .fashionimg_text a i {
  transition: all linear 0.2s;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufashion .category_img .fashionimg_text a:hover i {
  transform: translatex(50%);
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 10%;
  left: 96%;
  width: 685px;
  background: #fff;
  transition: all linear 0.1s;
  padding-left: 20px;
  box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .megamenu_items h4 {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding-top: 25px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .megamenu_items ul {
  width: 195px;
  padding-top: 6px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .megamenu_items ul li {
  padding-top: 10px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .megamenu_items ul a {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img {
  position: relative;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img .homeimg_text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 30px 30px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img .homeimg_text h6 {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding-bottom: 5px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img .homeimg_text h3 {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img .homeimg_text p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600px;
  color: #fff;
  padding-bottom: 23px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img .homeimg_text p span {
  color: #fc6782;
  font-weight: 700;
  color: #F77C29;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img .homeimg_text a {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 14px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img .homeimg_text a i {
  transition: all linear 0.2s;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuhome .category_img .homeimg_text a:hover i {
  transform: translatex(50%);
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 18%;
  left: 96%;
  width: 685px;
  background: #fff;
  transition: all linear 0.1s;
  padding-left: 20px;
  box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .megamenu_items h4 {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding-top: 25px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .megamenu_items ul {
  width: 195px;
  padding-top: 6px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .megamenu_items ul li {
  padding-top: 10px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .megamenu_items ul a {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .category_img {
  position: relative;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .category_img .homeimg_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 0 0 30px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .category_img .homeimg_text p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400px;
  color: #ccc;
  padding-bottom: 11px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .category_img .homeimg_text h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  color: #fff;
  padding-bottom: 3px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .category_img .homeimg_text h6 {
  font-size: 22px;
  line-height: 22px;
  color: #f77c29;
  font-weight: 700;
  padding-bottom: 16px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .category_img .homeimg_text button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .category_img .homeimg_text button a {
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 14px;
  padding: 10px 20px;
  transition: all linear 0.3s;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menuelectronics .category_img .homeimg_text button:hover a {
  background: #fff;
  color: #fc6782;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture {
  position: absolute;
  top: 26%;
  left: 96%;
  width: 880px;
  background: #fff;
  transition: all linear 0.1s;
  padding-left: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  visibility: hidden;
  opacity: 0;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .megamenu_list {
  display: flex;
  gap: 20px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .megamenu_list .megamenu_items h4 {
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding-top: 25px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .megamenu_list .megamenu_items ul {
  width: 195px;
  padding-top: 6px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .megamenu_list .megamenu_items ul li {
  padding-top: 10px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .megamenu_list .megamenu_items ul a {
  font-size: 14px;
  line-height: 14px;
  color: #666666;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list {
  display: flex;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img {
  position: relative;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_left {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 25px 0 0;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_left h6 {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 4px;
  text-align: end;
  color: #666666;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_left h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #333333;
  padding-bottom: 14px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_left p {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400px;
  color: #333333;
  text-align: end;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_left p span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_right {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 0 0 25px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_right h6 {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 4px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_right h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  padding-bottom: 14px;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_right p {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400px;
  color: #fff;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img .imgtext_right p span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}
#header .main_menu .brows_category .category_box .category_menu .mega_menufurniture .img_list .category_img img {
  border-radius: 3px;
}
#header .main_menu .brows_category .category_box .category_menu:hover .mega_menufashion {
  visibility: visible;
  opacity: 1;
  left: 100%;
}
#header .main_menu .brows_category .category_box .category_menu:hover .mega_menuhome {
  visibility: visible;
  opacity: 1;
  left: 100%;
}
#header .main_menu .brows_category .category_box .category_menu:hover .mega_menuelectronics {
  visibility: visible;
  opacity: 1;
  left: 100%;
}
#header .main_menu .brows_category .category_box .category_menu:hover .mega_menufurniture {
  visibility: visible;
  opacity: 1;
  left: 100%;
}
#header .main_menu .brows_category .category_box .all_categories li {
  padding: 18px 12px 10px 12px;
  border-bottom: none;
  display: flex;
}
#header .main_menu .brows_category .category_box .all_categories li a {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #fc6782;
  font-weight: 600;
}

#service {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #333333;
  margin-top: 610px;
  margin-bottom: 60px;
}
#service .service_items {
  border: 1px solid rgba(102, 102, 102, 0.2);
  padding: 23px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
#service .service_items .service_option {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
#service .service_items .service_option i {
  font-size: 30px;
  color: #fc6782;
}
#service .service_items .service_option h4 {
  font-size: 14px;
  color: #333333;
  line-height: 17px;
  font-weight: 600;
  padding-bottom: 5px;
}
#service .service_items .service_option p {
  font-size: 13px;
  line-height: 13px;
  color: #666666;
}
#service .offer {
  position: relative;
}
#service .offer img {
  border-radius: 3px;
}
#service .offer .offertext_right {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 0 0 30px;
}
#service .offer .offertext_right h6 {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-bottom: 7px;
}
#service .offer .offertext_right h6 span {
  font-weight: 700;
  color: #f77c29;
}
#service .offer .offertext_right h3 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  color: #333333;
}
#service .offer .offertext_right h4 {
  font-weight: 400;
  padding-bottom: 20px;
}
#service .offer .offertext_right p {
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}
#service .offer .offertext_right p span {
  font-weight: 700;
  color: #f77c29;
}
#service .offer .offertext_left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 0 0 30px;
}
#service .offer .offertext_left h6 {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-bottom: 7px;
  color: #c4c4c5;
}
#service .offer .offertext_left h3 {
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  color: #fff;
}
#service .offer .offertext_left h4 {
  font-weight: 400;
  padding-bottom: 20px;
  color: #fff;
}
#service .offer .offertext_left p {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}
#service .offer .offertext_left p span {
  font-weight: 700;
  color: #f77c29;
}

#top_categories {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #333333;
  background: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}
#top_categories .categories_heading {
  text-align: center;
  padding: 5px 0 25px 0;
}
#top_categories .categories_heading h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
}
#top_categories .categories_items {
  position: relative;
}
#top_categories .categories_items img {
  transition: transform 0.3s ease;
}
#top_categories .categories_items .item_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
#top_categories .categories_items .item_text h4 {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  visibility: visible;
  opacity: 1;
  transition: all linear 0.2s;
}
#top_categories .categories_items .hidden {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
#top_categories .categories_items .hidden h3 {
  font-size: 14px;
  font-weight: 600;
  color: #fc6782;
  visibility: hidden;
  opacity: 0;
  transition: all linear 0.2s;
}
#top_categories .categories_items:hover img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#top_categories .categories_items:hover .item_text h4 {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-80%);
}
#top_categories .categories_items:hover .hidden h3 {
  visibility: visible;
  opacity: 1;
  bottom: 20%;
  left: 50%;
  transform: translateY(-80%);
}

#popular_department {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #333333;
  margin-top: 50px;
  margin-bottom: 50px;
}
#popular_department .popular_heading {
  text-align: center;
}
#popular_department .popular_heading h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
}
#popular_department h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#popular_department .popular_banner {
  position: relative;
}
#popular_department .popular_banner img {
  border-radius: 3px;
}
#popular_department .popular_banner .popubantext_right {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 0 0 30px;
}
#popular_department .popular_banner .popubantext_right p {
  font-size: 14px;
  line-height: 17px;
  color: #eeeeee;
  font-weight: 600;
  margin-bottom: 8px;
}
#popular_department .popular_banner .popubantext_right h3 {
  font-size: 28px;
  line-height: 31px;
  font-weight: 700;
  color: #fff;
  width: 70%;
  margin-bottom: 30px;
}
#popular_department .popular_banner .popubantext_right button {
  border: none;
  background: transparent;
  position: relative;
}
#popular_department .popular_banner .popubantext_right button a {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #fff;
}
#popular_department .popular_banner .popubantext_right button::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 15%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all linear 0.3s;
}
#popular_department .popular_banner .popubantext_right button:hover::after {
  width: 100%;
}
#popular_department .popular_banner .popubantext_left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 0 0 30px;
}
#popular_department .popular_banner .popubantext_left p {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 8px;
}
#popular_department .popular_banner .popubantext_left h3 {
  font-size: 28px;
  line-height: 31px;
  font-weight: 700;
  color: #333333;
  width: 70%;
  margin-bottom: 30px;
}
#popular_department .popular_banner .popubantext_left button {
  border: none;
  background: transparent;
  position: relative;
}
#popular_department .popular_banner .popubantext_left button a {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #333333;
}
#popular_department .popular_banner .popubantext_left button::after {
  content: "";
  position: absolute;
  background: #333333;
  width: 0;
  height: 15%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all linear 0.3s;
}
#popular_department .popular_banner .popubantext_left button:hover::after {
  width: 100%;
}

#cloth_apparel {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #333333;
  margin-bottom: 55px;
}
#cloth_apparel .cloth_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding-bottom: 15px;
}
#cloth_apparel .cloth_heading h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
}
#cloth_apparel .cloth_heading p {
  line-height: 22px;
  font-weight: 600;
}
#cloth_apparel .cloth_heading p a {
  color: #333333;
  transition: all linear 0.3s;
}
#cloth_apparel .cloth_heading p:hover a {
  color: #fc6782;
}
#cloth_apparel .clothside_banner {
  margin-top: 20px;
  position: relative;
}
#cloth_apparel .clothside_banner img {
  border-radius: 5px;
}
#cloth_apparel .clothside_banner .sidebanner_text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px;
}
#cloth_apparel .clothside_banner .sidebanner_text p {
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  font-weight: 400;
  padding-bottom: 10px;
  position: relative;
}
#cloth_apparel .clothside_banner .sidebanner_text p::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  background: #333333;
  width: 15%;
  height: 3px;
}
#cloth_apparel .clothside_banner .sidebanner_text h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: #333333;
  margin-top: 10px;
}
#cloth_apparel .clothside_banner .sidebanner_text h4 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 25px;
}
#cloth_apparel .clothside_banner .sidebanner_text button {
  border-radius: 3px;
  padding: 6px 20px;
}
#cloth_apparel .clothside_banner .sidebanner_text button a {
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  color: #333333;
}
#cloth_apparel .clothitems_top {
  margin-top: 20px;
}

#banner {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #333333;
}
#banner .banner_one {
  display: flex;
  align-items: center;
  height: 560px;
}
#banner .banner_one .bannerone_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
#banner .banner_one .bannerone_content .bannerone_text {
  text-align: right;
}
#banner .banner_one .bannerone_content .bannerone_text h3 {
  font-size: 40px;
  line-height: 40px;
  color: #666666;
  padding-bottom: 10px;
}
#banner .banner_one .bannerone_content .bannerone_text h1 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  color: #333333;
}
#banner .banner_one .bannerone_content .bannerone_text p {
  font-size: 24px;
  line-height: 45px;
  color: #666666;
  padding-bottom: 21px;
}
#banner .banner_one .bannerone_content .bannerone_text p span {
  color: #f77c29;
  font-weight: 700;
}
#banner .banner_one .bannerone_content .bannerone_text button {
  border: 2px solid #333333;
  border-radius: 3px;
  padding: 15px 40px;
  background: none;
  transition: 0.3s;
}
#banner .banner_one .bannerone_content .bannerone_text button a {
  line-height: 14px;
  font-weight: 600;
  color: #333333;
  transition: 0.3s;
}
#banner .banner_one .bannerone_content .bannerone_text button:hover {
  background: #333333;
}
#banner .banner_one .bannerone_content .bannerone_text button:hover a {
  color: #fff;
}
#banner .banner_two {
  display: flex;
  align-items: center;
  height: 560px;
}
#banner .banner_two .bannertwo_content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}
#banner .banner_two .bannertwo_content .bannertwo_text h3 {
  font-size: 38px;
  line-height: 46px;
  color: #666666;
  padding-bottom: 10px;
}
#banner .banner_two .bannertwo_content .bannertwo_text h3 span {
  color: #f77c29;
}
#banner .banner_two .bannertwo_content .bannertwo_text h1 {
  font-size: 49px;
  line-height: 54px;
  font-weight: 700;
  color: #333333;
}
#banner .banner_two .bannertwo_content .bannertwo_text p {
  font-size: 24px;
  line-height: 45px;
  color: #666666;
  padding-bottom: 21px;
}
#banner .banner_two .bannertwo_content .bannertwo_text button {
  border: 2px solid #333333;
  border-radius: 3px;
  padding: 15px 40px;
  background: none;
  transition: 0.3s;
}
#banner .banner_two .bannertwo_content .bannertwo_text button a {
  line-height: 14px;
  font-weight: 600;
  color: #333333;
  transition: 0.3s;
}
#banner .banner_two .bannertwo_content .bannertwo_text button:hover {
  background: #333333;
}
#banner .banner_two .bannertwo_content .bannertwo_text button:hover a {
  color: #fff;
}
#banner .banner_three {
  display: flex;
  align-items: center;
  height: 560px;
}
#banner .banner_three .bannerthree_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner .banner_three .bannerthree_content .bannerthree_text {
  text-align: right;
}
#banner .banner_three .bannerthree_content .bannerthree_text p {
  font-size: 22px;
  line-height: 35px;
  color: #666666;
}
#banner .banner_three .bannerthree_content .bannerthree_text h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  color: #666666;
  padding-bottom: 3px;
}
#banner .banner_three .bannerthree_content .bannerthree_text h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 23px;
}
#banner .banner_three .bannerthree_content .bannerthree_text h1 span {
  color: #333333;
}
#banner .banner_three .bannerthree_content .bannerthree_text button {
  border: 2px solid #333333;
  border-radius: 3px;
  padding: 15px 40px;
  background: none;
  transition: 0.3s;
}
#banner .banner_three .bannerthree_content .bannerthree_text button a {
  line-height: 14px;
  font-weight: 600;
  color: #333333;
  transition: 0.3s;
}
#banner .banner_three .bannerthree_content .bannerthree_text button:hover {
  background: #333333;
}
#banner .banner_three .bannerthree_content .bannerthree_text button:hover a {
  color: #fff;
}

#hot_deals {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #333333;
  background: #ffffff;
}
#hot_deals .dealMega_main {
  border: 1px solid rgba(102, 102, 102, 0.2);
  padding: 25px 20px;
}
#hot_deals .dealMega_main h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 15px;
}
#hot_deals .dealMega_main .deals_megaslide {
  border-top: 1px solid rgba(102, 102, 102, 0.2);
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_product {
  display: flex;
  align-items: start;
  gap: 15px;
  width: 50%;
}
#hot_deals .dealMega_main .deals_megaslide .deals_product h2 {
  color: orange;
}
#hot_deals .dealMega_main .deals_megaslide .deals_product .carousel-indicators {
  position: static;
  padding: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  flex-direction: column;
  gap: 20px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_product .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  width: 60px;
  height: 68px;
  margin-left: 0;
  text-indent: 0;
  cursor: pointer;
  border: 0;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext {
  margin-top: 25px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 15px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items {
  border-top: 1px solid rgba(102, 102, 102, 0.2);
  padding-top: 25px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items h4 {
  font: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items p {
  font-size: 15px;
  line-height: 24px;
  color: #666666;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items p span {
  font-weight: 700;
  color: #fc6782;
  margin-left: 10px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items > ul {
  display: flex;
  align-items: center;
  padding-top: 12px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items > ul li {
  color: #f77c29;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items > ul p {
  font-size: 12px;
  line-height: 12px;
  color: #999;
  padding-left: 5px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_size {
  display: flex;
  gap: 40px;
  align-items: center;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_size h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #333333;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_size ul {
  display: flex;
  gap: 8px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_size ul li {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #666666;
  border: 1px solid #ccc;
  padding: 6px 8px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_cart {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_cart .deals_count {
  display: flex;
  gap: 60px;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px 15px;
  justify-content: space-between;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_cart .deals_count p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #666666;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_cart .deals_count ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_cart .deals_count ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #eeeeee;
  color: #666666;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_cart .addTo_cart {
  padding: 13px 75px;
  background: #eeeeee;
  border-radius: 3px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_cart .addTo_cart p {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #666666;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deals_cart .addTo_cart p span {
  font-size: 18px;
  padding-right: 8px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deal_socialicon {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deal_socialicon > ul {
  display: flex;
  gap: 8px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deal_socialicon > ul li {
  border: 1px solid #ccc;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deal_socialicon > ul li a {
  color: #666666;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deal_socialicon .icon {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deal_socialicon .icon ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
#hot_deals .dealMega_main .deals_megaslide .deals_megaslidetext .megaSlideText_items .deal_socialicon .icon ul li a {
  font-size: 18px;
  color: #666666;
}/*# sourceMappingURL=style.css.map */