@import "../variables/variables";
@import "../mixins/mixins";

#vendor_content {
    @include title;
    margin-bottom: 100px;



    


    .vendor_sidebar {

        .filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 11px 0 17px;

            label {
                font-size: 16px;
                line-height: 21px;
                font-weight: 600;
                color: $text_clr;
            }

            a {
                font-size: 14px;
                line-height: 14px;
                font-weight: 400;
                color: $text_clr;
            }
        }

        .sidebar_content {

            .sidebarContent_item {
                --bs-border-width: 0px;

                .accordion-item {
                    border: none;



                    button {
                        background-color: transparent;
                        padding: 14px 0;
                        border-radius: 0;
                        border-bottom: 0;
                        // border-bottom: 5px solid rgb(170, 26, 236);
                        border-bottom: 1px solid #eee;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 600;
                        color: $text_clr;

                        &:focus {
                            outline: none;
                            box-shadow: none;

                        }
                    }


                    .items_list {
                        padding: 7px 0 10px;

                        ul {
                            li {
                                padding: 10px 0 10px 2px;

                                a {
                                    font-size: 14px;
                                    line-height: 18px;
                                    font-weight: 400;
                                    color: $text_clr;
                                    transition: all linear .2s;

                                    &:hover {
                                        color: $brand_clr;
                                    }
                                }
                            }
                        }
                    }

                    .contactItems_list {
                        padding: 20px 0 30px;

                        input {
                            margin-bottom: 10px;
                            border: 1px solid #e1e1e1;
                            border-radius: 3px;
                            width: 306px;
                            padding: 10px 15px;

                            &::placeholder {
                                color: #b399a6;
                            }
                        }

                        textarea {
                            margin-bottom: 20px;
                            border: 1px solid #e1e1e1;
                            border-radius: 3px;
                            padding: 10px 15px;

                            &::placeholder {
                                color: #b399a6;
                            }
                        }

                        a {
                            padding: 15px 30px;
                            // border: none;
                            color: #fff;
                            border-color: #333;
                            background-color: #333;
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: 600;
                            border-radius: 3px;
                            transition: all linear .2s;

                            &:hover {
                                background-color: #454545;
                            }

                        }
                    }

                    .bestTopitems_list {
                        padding: 10px 0 20px;

                        .items_details {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            padding: 10px 0;

                            .itemsDetails_img {
                                img {
                                    width: 98px
                                }



                            }

                            .itemsDetails_text {

                                a {
                                    font-size: 13px;
                                    line-height: 16px;
                                    font-weight: 500;
                                    color: $text_clr;

                                }

                                ul {
                                    display: flex;

                                    align-items: center;
                                    padding-top: 2px;
                                    padding-bottom: 2px;

                                    li {
                                        color: #ff9933;
                                        font-size: 12px;

                                    }

                                    .no_color {
                                        color: #d6d6d6;
                                    }
                                }

                                h6 {
                                    font-size: 16px;
                                    line-height: 26px;
                                    font-weight: 600;
                                    color: $text_clr;
                                }
                            }
                        }

                    }
                }
            }
        }

    }

   



}