@import "../variables/variables";
@import "../mixins/mixins";

#blog_content {
    @include title;
    // margin-bottom: 100px;


    .blogContent_items {
        .contentItems_img {
            img {
                border-radius: 5px;
                margin-top: 20px;
            }
        }

        .contentItems_text {
            padding: 14px 2px 24px;

            a {
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                color: $brand_clr;
                margin-bottom: 5px;
            }

            h4 {
                font-size: 18px;
                line-height: 22px;
                font-weight: 600;
                color: $text_clr;
                transition: all linear .2s;
                margin-bottom: 10px;

                &:hover {
                    color: $brand_clr;
                }
            }

            p {

                font-size: 13px;
                line-height: 25px;
                font-weight: 400;
                color: $mega_clr;
                margin-bottom: 15px;

                span {
                    a {
                        font-size: 13px;
                        line-height: 13px;
                        color: $brand_clr;
                        transition: all linear .2s;

                        &:hover {
                            color: $text_clr;
                        }
                    }
                }
            }

            .post_by {
                font-size: 13px;
                line-height: 22px;
                font-weight: 600;
                color: #999999;

                a {
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 600;
                    color: $text_clr;
                    transition: all linear .2s;

                    &:hover {
                        color: $brand_clr;
                    }
                }

                .date {
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 400;
                    color: $text_clr;
                    transition: all linear .2s;

                    &:hover {
                        color: $brand_clr;
                    }
                }
            }
        }
    }

    .blog_sidebar {
        padding-top: 20px;

        .search_form {
            border: 1px solid $border_clr;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            border-radius: 3px;

            input {
                border: none;

                &::placeholder {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                    color: #777777;
                }
            }

            button {
                border: none;
                background: transparent;
                font-size: 18px;
                color: #336699;
            }
        }

        .sidebar_content {
            margin-top: 25px;

            .all_categories {

                h3 {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                    color: $text_clr;
                    padding: 14px 25px 14px 0;
                }

                ul {
                    li {
                        a {
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 400;
                            color: $text_clr;
                            transition: all linear .2s;
                            padding: 10px 0 10px 2px;

                            &:hover {
                                color: $brand_clr;
                            }
                        }
                    }
                }


            }

            .popular_posts {
                margin-bottom: 15px;

                h3 {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                    color: $text_clr;
                    padding: 14px 25px 14px 0;
                    margin-bottom: 10px;
                    margin-top: 15px;
                }

                .popularPost_details {
                    display: flex;
                    gap: 18px;
                    align-items: center;
                    margin-bottom: 20px;

                    .popularPost_img {
                        img {
                            width: 80px;
                            border-radius: 5px;
                        }
                    }

                    .popularPost_text {

                        .post_date {
                            a {
                                font-size: 13px;
                                line-height: 22px;
                                font-weight: 400;
                                color: $brand_clr;
                            }


                        }

                        h4 {
                            width: 88%;

                            a {
                                font-size: 13px;
                                line-height: 19px;
                                font-weight: 500;
                                color: $text_clr;
                                transition: all linear .2s;

                                &:hover {
                                    color: $brand_clr;
                                }
                            }
                        }
                    }
                }
            }

            .custom_block {

                h3 {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                    color: $text_clr;
                    padding: 24px 25px 14px 0;

                    margin-bottom: 10px;

                }

                .customBlock_text {
                    p {
                        font-size: 14px;
                        line-height: 22px;
                        font-weight: 400;
                        color: #666666;
                        margin-bottom: 25px;
                    }
                }
            }

            .browse_tags {
                h3 {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                    color: $text_clr;
                    padding: 14px 25px 14px 0;
                    margin-bottom: 10px;

                }

                .browseTags_items {
                    width: 85%;

                    a {
                        font-size: 13px;
                        line-height: 18px;
                        font-weight: 400;
                        color: $text_clr;
                        transition: all linear .2s;
                        border: 1px solid #cccccc;
                        padding: 5px 9px;
                        border-radius: 3px;
                        margin: 5px 10px 5px 0;

                        &:hover {
                            color: $brand_clr;
                            border: 1px solid $brand_clr;
                        }
                    }
                }
            }

            .calendar {
                h3 {
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: 600;
                    color: $text_clr;
                    padding: 50px 25px 14px 0;
                    margin-bottom: 10px;

                }

                .calendar_header {
                    h4 {
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 600;
                        color: #ffffff;
                        padding: 17px 10px;
                        background: $brand_clr;
                        border-radius: 03px;
                        text-align: center;
                    }
                }

                table {
                    thead {

                        th {
                            font-size: 13px;
                            line-height: 17px;
                            font-weight: 700;
                            color: $text_clr;
                            padding: 18px 0 9px;
                            width: 50px;
                            text-align: center;
                        }
                    }
                    tbody{
                        tr{
                            td{
                                font-size: 13px;
                                line-height: 17px;
                                font-weight: 400;
                                color: $text_clr;
                                padding: 9px 0;
                                width: 50px;
                            text-align: center;
                            }
                            .day_disable{
                                color: #b4b4b4;
                            }
                        }
                    }
                }
            }
        }
    }









}