@import "../variables/variables";
@import "../mixins/mixins";

#element_content {
    @include title;
    margin: 50px 0;
    padding: 25px 0 30px;

    .elementContent_text {
        text-align: center;

        h3 {
            font-size: 30px;
            line-height: 36px;
            font-weight: 700;
            color: $text_clr;
            padding-bottom: 16px;
        }

        p {
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: $mega_clr;
            width: 40%;
            margin: 0 auto;
            padding-bottom: 20px;
        }
    }

    .content_items {
        display: flex;
       justify-content: space-between;
        .items_details {
            background:#fff;
            padding: 30px 80px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            &:hover .items_icon {
                transform: scale(1.2);
            }

            &:hover p {
                color: $brand_clr;
            }

            .items_icon {
                transition: all linear .2s;

                a {
                    font-size: 70px;
                    color: $mega_clr;
                }
            }

            p {
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
                color: $text_clr;
                transition: all linear .3s;


            }
        }
    }


}