@import "../variables/variables";
@import "../mixins/mixins";


#fashionBread_crumb {
    @include title;
    display: flex;
    padding: 16px 2px 0px;

    ol {
        li {
            a {
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: $mega_clr
            }

            ~.active {
                color: $text_clr;
            }
        }
    }
}