@import "../variables/variables";
@import "../mixins/mixins";

// #header {
//   @include title;

//   .header_top {
//     background: $primary_clr;
//     padding: 14px;

//     .header_right {
//       display: flex;
//       gap: 20px;
//       cursor: pointer;

//       .dropdown {
//         position: relative;
//         width: fit-content;

// img{
//   width: 15px;
// }
//         a {
//           color: $brand_clr;
//         padding-right: 2px;
//         padding-left: 2px;
//         }


//         ul {
//           width: 50px;
//           height: 60px;
//           background-color: rgb(66, 245, 30);

//           text-align: center;
//           position: absolute;
//           left: 50%;
//           top: 100%;
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           transition: 0.3s;
//           transform: translateX(-50%);
//           visibility: hidden;
//           opacity: 0;


//           // &:after {
//           //   content: "";
//           //   width: 15px;
//           //   height: 100px;
//           //   background: rgb(120, 8, 185);
//           //   position: absolute;
//           //   top: -10px;
//           //   left: 50%;
//           //   transform: translateX(-50%);
//           //  z-index: -10;
//           // }
//         }


//         &:hover {
//           ul {
//             visibility: visible;
//             opacity: 1;
//           }
//         }
//       }
//     }
//   }
// }

#header {
  @include title;

  .header_top {
    background: $primary_clr;
    padding: 16px;

    .header_right {
      display: flex;
      justify-content: end;

      .dropdown_elements {
        display: flex;
        gap: 20px;
        border-right: 2px solid #ccc;
        // width: fit-content;
        padding-right: 20px;

        .dropdown {
          .dropdown_item {
            display: flex;
            gap: 5px;
            align-items: center;

            cursor: pointer;

            span {
              font-size: 10px;
              margin-left: 2px;
            }
          }

          .dropdown_box {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px;
            background-color: rgb(255, 255, 255);
            text-align: center;
            position: absolute;
            left: 50%;
            top: 100%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: all linear .3s;
            transform: translateX(-50%);
            visibility: hidden;
            opacity: 0;

            li {
              display: flex;
              // align-items: center;
              gap: 5px;
            }
          }

          &:hover .dropdown_box {
            visibility: visible;
            opacity: 1;
            left: 50%;
            top: 150%;
          }
        }
      }

      .header_account {
        ul {
          display: flex;
          gap: 20px;
          padding-left: 20px;

          a {
            color: $brand_clr;
          }
        }
      }
    }
  }

  .header_middle {

    padding: 30px;

    .header_left {
      display: flex;
      gap: 80px;
      align-items: center;

      img {
        width: 150px;
      }

      .search_box {
        border: 2px solid #842b6e;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding: 6px;

        .categories_box {
          border-right: 1px solid #ccc;
          padding: 10px;
          margin-right: 14px;

          .custom_dropdown {
            border: none;
            color: #666;
          }

        }

        input {
          border: none;
          width: 350px;
        }

        button {
          border: none;
          background: transparent;
          padding-right: 10px;
          color: #757575;
          font-size: 17px;
        }
      }

    }

    .hello {
      display: flex;
      align-items: center;

      .hadder_right {
        display: flex;

        .live_chat {
          display: flex;
          align-items: center;
          gap: 10px;
          border-right: 1px solid #ccc;
          padding-right: 25px;

          ul {
            a {
              font-size: 30px;
              color: #333;
            }
          }

          .chat_info {
            p {
              font-size: 16px;
              line-height: 15px;

              span {
                color: #999999;
              }
            }

            a {
              font-size: 15px;
              font-weight: 700;
              line-height: 27px;
              color: #333;
            }
          }
        }

        .cart {
          display: flex;
          align-items: center;
          gap: 25px;
          padding-left: 25px;

          a {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            color: #333;
            font-size: 27px;

            span {
              font-size: 12px;
            }

            .select_items {
              position: absolute;
              top: -4px;
              left: 13px;
              color: #ffffff;
              font-size: 11px;
              line-height: 6px;
              background: #336699;
              border-radius: 50px;
              padding: 5px;
            }
          }
        }

        .cart_offcanvas {
          width: 340px;
          padding: 30px;

          .offcanvas_title {
            border-bottom: 1px solid rgba(102, 102, 102, 0.20);

            padding: 0 0 14px 0;

            h5 {
              font-size: 16px;
              line-height: 16px;
              font-weight: 700;
              color: #333;
            }

            button {
              border: none;
              background: transparent;
              color: #666666;
            }
          }

          .cart_list {
            padding: 0;

            .cart_items {
              // border-bottom: 2px solid red;

              .product_list {
                display: flex;
                padding: 20px 0 0 0;

                .product_name {
                  margin-right: 50px;

                  h4 {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    padding-top: 6px;
                    padding-bottom: 12px;
                  }

                  p {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #999999;

                    span {
                      color: #336699;
                      font-size: 16px;
                      line-height: 26px;
                      font-weight: 600;
                    }
                  }
                }

                img {
                  width: 80px;
                  height: 90px;
                }
              }
            }

            .total_amount {

              padding-top: 20px;

              .price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 20px;
                border-top: 1px solid rgba(102, 102, 102, 0.20);


                h6 {
                  font-size: 14px;
                  line-height: 14px;
                  color: #333;
                  font-weight: 600;
                }

                p {
                  font-size: 16px;
                  line-height: 16px;
                  color: #333;
                  font-weight: 600;
                }
              }
            }

            .checkout {
              display: flex;
              justify-content: space-between;
              padding-top: 30px;

              // button {}

              .view_cart {
                font-size: 13px;
                line-height: 13px;
                font-weight: 600;
                padding: 10px 30px;
                border-radius: 3px;
                transition: .3s;

                &:hover {
                  background: #336699;
                  color: #fff;
                  border: 2px solid #336699;
                }


              }

              .checkout_btn {
                font-size: 13px;
                line-height: 13px;
                font-weight: 600;
                padding: 10px 30px;
                border-radius: 3px;
                transition: .3s;
                background: #336699;
                border: 2px solid #336699;
                color: #fff;

                &:hover {
                  background: #3c78b4;
                  border: 2px solid #3c78b4;

                }


              }
            }

          }
        }

      }
    }
  }
}