@import "../variables/variables";
@import "../mixins/mixins";

#header {
  @include title;

  .header_top {
    background: $primary_clr;
    padding: 16px;

    .header_right {
      display: flex;
      justify-content: end;

      .dropdown_elements {
        display: flex;
        gap: 20px;
        border-right: 2px solid #ccc;
        padding-right: 20px;

        .dropdown {
          .dropdown_item {
            display: flex;
            gap: 5px;
            align-items: center;
            cursor: pointer;

            p {
              transition: .3s;

              &:hover {
                color: $brand_clr;
              }
            }

            span {
              font-size: 10px;
              margin-left: 2px;
            }
          }

          .dropdown_box {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px;
            background-color: rgb(255, 255, 255);
            text-align: center;
            position: absolute;
            left: 50%;
            top: 100%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: all linear .3s;
            transform: translateX(-50%);
            visibility: hidden;
            opacity: 0;

            li {
              display: flex;
              gap: 5px;
              color: $brand_clr;
            }

          }

          &:hover .dropdown_box {
            visibility: visible;
            opacity: 1;
            left: 50%;
            top: 150%;
          }
        }
      }

      .header_account {
        ul {
          display: flex;
          gap: 20px;
          padding-left: 20px;

          a {
            color: $brand_clr;
          }
        }
      }
    }



  }

  .signIn_popup {
   position: absolute;
  
    .close {
      font-size: 22px;
      background: transparent;
      border: none;
      position: absolute;
      top: -35px;
      left: 96%;
      color: #fff;
      transition: all linear .2s;
   

      &:hover {
        transform: scale(1.3) rotate(90deg);
     
      }
    }

    .signIn_content {
      padding: 15px 35px;

      .nav {
        gap: 10px;
        flex-wrap: nowrap;
        border-bottom: 1px solid $secondary_clr;

        button {
          width: 50%;
          font-size: 16px;
          line-height: 16px;
          font-weight: 700;
          color: $text_clr;

        }

        .nav-link {
          transition: all linear .3s;

          &:hover {

            color: $brand_clr;
            border: transparent;
            border-bottom: 2px solid $brand_clr;
          }
        }

        .nav-link.active {
          background: transparent;
          border: transparent;
          border-bottom: 2px solid $brand_clr;

          color: $brand_clr;
        }

      }

      form {
        padding: 30px 0 26px;

        .user_email {
          display: flex;
          flex-direction: column;
          // gap: 200px;
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          color: $brand_clr;


          input {
            margin: 5px 0 28px;
            padding: 9px 20px;
            border: 1px solid $secondary_clr;
          }
        }

        .password {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          color: $brand_clr;

          input {
            margin-top: 5px;
            padding: 9px 20px;
            border: 1px solid $secondary_clr;
          }
        }

        .privacy_policy {
          font-size: 13px;
          line-height: 24px;
          font-weight: 400;
          color: $mega_clr;
          text-align: start;
          margin: 30px 0 20px;

          a {
            color: $brand_clr;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .signUp_vendor {
          a {
            font-size: 13px;
            line-height: 22px;
            font-weight: 400;
            color: $brand_clr;

            &:hover {
              color: $brand_clr;
              text-decoration: underline;
            }
          }
        }

        .form_checkbox {
          margin: 25px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          div {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: $mega_clr;

            input {
              width: 13px;
            }


          }

          a {
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
            color: #a94442;

            &:hover {
              text-decoration: underline;
            }
          }

        }

        .formCheckbox_signup {
          margin: 25px 0;
          display: flex;
          gap: 5px;
          align-items: center;
          font-size: 13px;
          line-height: 22px;
          font-weight: 400;
          color: $mega_clr;

          a {
            color: $brand_clr;

            &:hover {
              color: $brand_clr;
              text-decoration: underline;
            }
          }

          input {
            width: 18px;
          }
        }

        button {
          background: $brand_clr;
          width: 100%;
          padding: 11px 27px;
          border: none;
          transition: all linear .3s;

          a {
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
            color: #fff;

          }

          &:hover {
            background: #3c78b4;
          }

        }

      }

      p {
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: $mega_clr;
        text-align: center;
        margin-bottom: 18px;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .fb {
          font-size: 14px;
          color: #1b4f9b;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid #1b4f9b;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all linear .3s;

          &:hover {
            color: #fff;
            border: 1px solid #1b4f9b;
            background: #1b4f9b;
          }
        }

        .x {
          font-size: 14px;
          color: #000;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid #000;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all linear .3s;

          &:hover {
            color: #fff;
            border: 1px solid #000;
            background-color: #000;
          }

        }

        .google {
          font-size: 14px;
          color: #dd4b39;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 1px solid #dd4b39;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all linear .3s;

          &:hover {
            color: #fff;
            border: 1px solid #dd4b39;
            background: #dd4b39;
          }
        }

      }

    }
  }

  // ===========Header Middle Start=========

  .header_middle {
    border-bottom: 1px solid $secondary_clr;
    padding: 30px;

    .header_left {
      display: flex;
      gap: 80px;
      align-items: center;

      img {
        width: 150px;
      }

      .search_box {
        border: 2px solid #be3265;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding: 6px;

        .categories_box {
          border-right: 1px solid #ccc;
          padding: 10px;
          margin-right: 14px;

          .custom_dropdown {
            border: none;
            color: #666;
          }

        }

        input {
          border: none;
          width: 350px;
        }

        button {
          border: none;
          background: transparent;
          padding-right: 10px;
          color: #757575;
          font-size: 17px;
        }
      }

    }


    // ===========Header Middle right Start=========
    .hadder_right {
      display: flex;
      align-items: center;

      .right_side {
        display: flex;

        .live_chat {
          display: flex;
          align-items: center;
          gap: 10px;
          border-right: 1px solid #ccc;
          padding-right: 25px;

          ul {
            a {
              font-size: 30px;
              color: #333;
            }
          }

          .chat_info {
            p {
              font-size: 16px;
              line-height: 15px;

              span {
                color: #999999;
              }
            }

            a {
              font-size: 15px;
              font-weight: 700;
              line-height: 27px;
              color: #333;
            }

          }
        }

        .cart {
          display: flex;
          align-items: center;
          gap: 25px;
          padding-left: 25px;

          a {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            color: #333;
            font-size: 27px;

            span {
              font-size: 12px;
            }

            .select_items {
              position: absolute;
              top: -4px;
              left: 13px;
              color: #ffffff;
              font-size: 11px;
              line-height: 6px;
              background: $brand_clr;
              border-radius: 50px;
              padding: 5px;
            }
          }
        }

        .cart_offcanvas {
          width: 340px;
          padding: 30px;

          .offcanvas_title {
            border-bottom: 1px solid $secondary_clr;
            padding: 0 0 14px 0;

            h5 {
              font-size: 16px;
              line-height: 16px;
              font-weight: 700;
              color: #333;
            }

            button {
              border: none;
              background: transparent;
              color: #666666;
            }
          }

          .cart_list {
            padding: 0;

            .cart_items {
              .product_list {
                display: flex;
                padding: 20px 0 0 0;

                .product_name {
                  margin-right: 50px;

                  h4 {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    padding-top: 6px;
                    padding-bottom: 12px;
                  }

                  p {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #999999;

                    span {
                      color: #336699;
                      font-size: 16px;
                      line-height: 26px;
                      font-weight: 600;
                    }
                  }
                }

                img {
                  width: 80px;
                  height: 90px;
                }
              }
            }

            .total_amount {
              padding-top: 20px;

              .price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 20px;
                border-top: 1px solid $secondary_clr;

                h6 {
                  font-size: 14px;
                  line-height: 14px;
                  color: #333;
                  font-weight: 600;
                }

                p {
                  font-size: 16px;
                  line-height: 16px;
                  color: #333;
                  font-weight: 600;
                }
              }
            }

            .checkout {
              display: flex;
              justify-content: space-between;
              padding-top: 30px;

              .view_cart {
                font-size: 13px;
                line-height: 13px;
                font-weight: 600;
                padding: 10px 30px;
                border-radius: 3px;
                transition: .3s;

                &:hover {
                  background: #336699;
                  color: #fff;
                  border: 2px solid #336699;
                }
              }

              .checkout_btn {
                font-size: 13px;
                line-height: 13px;
                font-weight: 600;
                padding: 10px 30px;
                border-radius: 3px;
                transition: .3s;
                background: #336699;
                border: 2px solid #336699;
                color: #fff;

                &:hover {
                  background: #3c78b4;
                  border: 2px solid #3c78b4;

                }
              }
            }

          }
        }

      }
    }
  }

  // ============= Main Menu Start ===========

  .main_menu {

    // ===========Browse Categories Start=========
    .brows_category {
      h2 {
        font-size: 14px;
        font-weight: 600;
        background: #f1f1f1;
        padding: 20px;

        a {
          display: flex;
          justify-content: space-between;
          color: $text_clr;
        }

      }

      position: relative;

      .category_box {
        background: rgb(255, 255, 255);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 8px 0 8px 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        z-index: 999;

        .category_menu {
          >li {
            border-bottom: 1px solid $secondary_clr;
            padding: 13px 14px 13px 12px;
            cursor: pointer;

            a {
              display: flex;

              justify-content: space-between;
              font-size: 13px;
              font-weight: 500;
              color: $text_clr;

              span i {
                padding-right: 7px; //brows_category logo to fashion gap
                font-size: 15px;

              }

              .catemenu_arrow i {
                font-size: 10px;
                transition: all linear .2s;
              }

            }

            &:hover .catemenu_arrow i {
              transform: translateX(50%);
            }
          }

          //========Mega Menu for Fashion========
          .mega_menufashion {

            display: flex;
            gap: 20px;
            position: absolute;
            top: 0;
            left: 96%;
            width: 685px;
            background: #fff;

            transition: all linear .1s;
            padding-left: 20px;
            box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
            visibility: hidden; // mega menu hidden, mega menu hidden 
            opacity: 0; // mega menu hidden, mega menu hidden 

            .megamenu_items {
              h4 {
                border-bottom: 1px solid $secondary_clr;
                padding-bottom: 10px;
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                padding-top: 25px;
              }

              ul {
                width: 195px;
                padding-top: 6px;

                li {
                  padding-top: 10px;
                }

                a {

                  font-size: 14px;
                  line-height: 14px;
                  color: $mega_clr;
                }

              }
            }

            .category_img {
              position: relative;

              .fashionimg_text {
                // ======Fashion=======
                position: absolute;
                top: 0;
                left: 0;
                padding: 30px 0 0 30px;

                p {
                  line-height: 14px;
                  font-weight: 600px;

                  span {
                    color: #fc6782;
                    font-weight: 700;
                  }
                }

                h3 {
                  font-size: 25px;
                  line-height: 30px;
                  font-weight: 700;
                  padding: 5px 0 14px 0;
                }

                a {
                  font-size: 13px;
                  color: #000;
                  font-weight: 600;

                  i {
                    transition: all linear .2s;
                  }

                  &:hover i {
                    transform: translatex(50%);

                  }
                }

              }
            }
          }

          //======Mega Menu for Home========
          .mega_menuhome {

            display: flex;
            gap: 20px;
            position: absolute;
            top: 10%;
            left: 96%;
            width: 685px;
            background: #fff;

            transition: all linear .1s;
            padding-left: 20px;
            box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
            visibility: hidden; // mega menu hidden, mega menu hidden 
            opacity: 0; // mega menu hidden, mega menu hidden 

            .megamenu_items {
              h4 {
                border-bottom: 1px solid $secondary_clr;
                padding-bottom: 10px;
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                padding-top: 25px;
              }

              ul {
                width: 195px;
                padding-top: 6px;

                li {
                  padding-top: 10px;
                }

                a {

                  font-size: 14px;
                  line-height: 14px;
                  color: $mega_clr;
                }

              }
            }

            .category_img {
              position: relative;

              .homeimg_text {
                // ======Home & Garden=======
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0 0 30px 30px;

                h6 {
                  font-size: 16px;
                  line-height: 19px;
                  color: #fff;
                  padding-bottom: 5px;
                }

                h3 {
                  font-size: 25px;
                  line-height: 30px;
                  color: #fff;
                  font-weight: 700;

                }

                p {
                  font-size: 20px;
                  line-height: 20px;
                  font-weight: 600px;
                  color: #fff;
                  padding-bottom: 23px;

                  span {
                    color: #fc6782;
                    font-weight: 700;
                    color: #F77C29;
                  }
                }

                a {
                  font-size: 13px;
                  color: #fff;
                  font-weight: 600;
                  line-height: 14px;

                  i {
                    transition: all linear .2s;
                  }

                  &:hover i {
                    transform: translatex(50%);

                  }
                }
              }
            }
          }


          //======Mega Menu for Electronics========
          .mega_menuelectronics {

            display: flex;
            gap: 20px;
            position: absolute;
            top: 18%;
            left: 96%;
            width: 685px;
            background: #fff;

            transition: all linear .1s;
            padding-left: 20px;
            box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
            visibility: hidden; // mega menu hidden, mega menu hidden 
            opacity: 0; // mega menu hidden, mega menu hidden 

            .megamenu_items {
              h4 {
                border-bottom: 1px solid $secondary_clr;
                padding-bottom: 10px;
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                padding-top: 25px;
              }

              ul {
                width: 195px;
                padding-top: 6px;

                li {
                  padding-top: 10px;
                }

                a {

                  font-size: 14px;
                  line-height: 14px;
                  color: $mega_clr;
                }

              }
            }

            .category_img {
              position: relative;

              .homeimg_text {
                // ======Home & Garden=======
                position: absolute;
                top: 0;
                left: 0;
                padding: 30px 0 0 30px;

                p {
                  font-size: 14px;
                  line-height: 17px;
                  font-weight: 400px;
                  color: #ccc;
                  padding-bottom: 11px;
                }

                h3 {
                  font-size: 22px;
                  font-weight: 700;
                  line-height: 25px;
                  color: #fff;
                  padding-bottom: 3px;
                }

                h6 {
                  font-size: 22px;
                  line-height: 22px;
                  color: #f77c29;
                  font-weight: 700;
                  padding-bottom: 16px;
                }

                button {
                  background: transparent;
                  border: 2px solid #fff;
                  border-radius: 3px;

                  a {
                    font-size: 13px;
                    color: #fff;
                    font-weight: 600;
                    line-height: 14px;
                    padding: 10px 20px;
                    transition: all linear .3s;
                  }

                  &:hover a {
                    background: #fff;
                    color: $brand_clr;
                  }

                }
              }
            }
          }

          //======Mega Menu for Furniture========
          .mega_menufurniture {

            // display: flex;
            // gap: 20px;
            position: absolute;
            top: 26%;
            left: 96%;
            width: 880px;
            background: #fff;

            transition: all linear .1s;
            padding-left: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            visibility: hidden; // mega menu hidden, mega menu hidden 
            opacity: 0; // mega menu hidden, mega menu hidden 

            .megamenu_list {
              display: flex;
              gap: 20px;

              .megamenu_items {
                h4 {
                  border-bottom: 1px solid $secondary_clr;
                  padding-bottom: 10px;
                  font-size: 14px;
                  line-height: 14px;
                  font-weight: 600;
                  padding-top: 25px;
                }

                ul {
                  width: 195px;
                  padding-top: 6px;

                  li {
                    padding-top: 10px;
                  }

                  a {

                    font-size: 14px;
                    line-height: 14px;
                    color: $mega_clr;
                  }

                }
              }
            }

            .img_list {
              display: flex;
              gap: 20px;
              padding-top: 30px;
              padding-bottom: 20px;

              .category_img {
                position: relative;

                .imgtext_left {

                  position: absolute;
                  top: 0;
                  right: 0;
                  padding: 25px 25px 0 0;

                  h6 {
                    font-size: 13px;
                    line-height: 16px;
                    color: #fff;
                    font-weight: 400;
                    padding-bottom: 4px;
                    text-align: end;
                    color: $mega_clr;
                  }

                  h3 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    color: $text_clr;
                    padding-bottom: 14px;
                  }

                  p {
                    font-size: 13px;
                    line-height: 13px;
                    font-weight: 400px;
                    color: $text_clr;
                    text-align: end;

                    span {
                      font-size: 14px;
                      line-height: 14px;
                      font-weight: 700;
                    }
                  }
                }

                .imgtext_right {

                  position: absolute;
                  top: 0;
                  left: 0;
                  padding: 25px 0 0 25px;

                  h6 {
                    font-size: 13px;
                    line-height: 16px;
                    color: #fff;
                    font-weight: 400;
                    padding-bottom: 4px;
                  }

                  h3 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    color: #fff;
                    padding-bottom: 14px;
                  }

                  p {
                    font-size: 13px;
                    line-height: 13px;
                    font-weight: 400px;
                    color: #fff;

                    // padding-bottom: 11px;
                    span {
                      font-size: 14px;
                      line-height: 14px;
                      font-weight: 700;
                    }
                  }
                }

                img {
                  border-radius: 3px;
                }

              }

            }
          }


          // ====Fashion Mega Menu hover=======
          &:hover .mega_menufashion {
            visibility: visible;
            opacity: 1;
            left: 100%;
          }

          // ====Home Mega Menu hover=======
          &:hover .mega_menuhome {
            visibility: visible;
            opacity: 1;
            left: 100%;
          }

          // ====Electronics Mega Menu hover=======
          &:hover .mega_menuelectronics {
            visibility: visible;
            opacity: 1;
            left: 100%;
          }

          // ====Furniture Mega Menu hover=======
          &:hover .mega_menufurniture {
            visibility: visible;
            opacity: 1;
            left: 100%;
          }

        }

        .all_categories {
          li {
            padding: 18px 12px 10px 12px;
            border-bottom: none;
            display: flex;

            a {
              display: flex;
              gap: 5px;
              align-items: center;
              color: $brand_clr;
              font-weight: 600;
            }
          }

        }
      }
    }

    // ===========Browse Categories End=========


    // ============= Menu part Start ==============
    .menu {
      height: 100%;
      position: relative;

      .menu_bar {

        // ===========Home Menu============
        .menuItem_home {
          padding: 12px 5px;
          cursor: pointer;

          a {
            font-size: 14px;
            line-height: 15px;
            font-weight: 600;
            color: $text_clr;
            transition: all linear .3s;

          }

          &:hover a {
            color: $brand_clr;
          }
        }

        // ===========Shop Menu============
        .menuItem_shop {
          padding: 12px 5px;
          cursor: pointer;

          a {
            font-size: 14px;
            line-height: 15px;
            font-weight: 600;
            color: $text_clr;
            transition: all linear .3s;

            span {
              font-size: 12px;
              padding-left: 2px;
            }
          }

          &:hover a {
            color: $brand_clr;
          }

          .mega_menu {
            width: 800px;
            background: #fff;
            padding: 0 10px;
            display: flex;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            z-index: 999;
            top: 85%;
            visibility: hidden;
            opacity: 0;
            transition: all linear .2s;

            .megaMenu_items {
              padding: 27px 10px 20px 10px;
              width: 195px;

              h4 {
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                color: $text_clr;
                margin-bottom: 12px;
              }

              ul {
                li {
                  a {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 400;
                    color: $mega_clr;
                    padding: 8px 0;
                    transition: all linear .3s;

                    &:hover {
                      color: $brand_clr;
                    }
                  }
                }
              }
            }
          }

          &:hover .mega_menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }

        }

        // ===========Vendor Menu============

        .menuItem_vendor {
          padding: 12px 5px;
          cursor: pointer;

          a {
            font-size: 14px;
            line-height: 15px;
            font-weight: 600;
            color: $text_clr;
            transition: all linear .3s;

            span {
              font-size: 12px;
              padding-left: 2px;
            }
          }

          &:hover a {
            color: $brand_clr;
          }

          .mega_menu {
            width: 215px;
            background: #fff;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            z-index: 999;
            top: 85%;
            visibility: hidden;
            opacity: 0;
            transition: all linear .2s;

            .megaMenu_items {
              padding: 20px;

              ul {

                // ========= Store Listing ============
                .store_listing {

                  a {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 400;
                    color: $mega_clr;
                    padding: 8px 0;
                    transition: all linear .3s;

                    span {
                      margin-left: 78px;
                    }

                    &:hover {
                      color: $brand_clr;
                    }
                  }


                  .subMega_menu {
                    padding: 20px;
                    width: 215px;
                    background: #fff;
                    position: absolute;
                    top: -50%;
                    left: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    visibility: 0;
                    opacity: 0;
                    transition: all linear .2s;
                  }

                  &:hover .subMega_menu {
                    visibility: visible;
                    opacity: 1;
                    top: 0;
                  }

                }

                // ========= Vendor Store ============
                .vendor_store {

                  a {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 400;
                    color: $mega_clr;
                    padding: 8px 0;
                    transition: all linear .3s;

                    span {
                      margin-left: 71px;
                    }

                    &:hover {
                      color: $brand_clr;
                    }
                  }


                  .subMega_menu {
                    padding: 20px;
                    width: 215px;
                    background: #fff;
                    position: absolute;
                    top: 0%;
                    left: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    visibility: 0;
                    opacity: 0;
                    transition: all linear .2s;
                  }

                  &:hover .subMega_menu {
                    visibility: visible;
                    opacity: 1;
                    top: 50%;
                  }
                }

              }
            }
          }

          &:hover .mega_menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }

        }

        // ===========Blog Menu============

        .menuItem_blog {
          padding: 12px 5px;
          cursor: pointer;

          a {
            font-size: 14px;
            line-height: 15px;
            font-weight: 600;
            color: $text_clr;
            transition: all linear .3s;

            span {
              font-size: 12px;
              padding-left: 2px;
            }
          }

          &:hover a {
            color: $brand_clr;
          }

          .mega_menu {
            width: 215px;
            background: #fff;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            z-index: 999;
            top: 85%;
            visibility: hidden;
            opacity: 0;
            transition: all linear .2s;

            .megaMenu_items {
              padding: 20px;

              ul {

                // =========li============
                li {
                  a {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 400;
                    color: $mega_clr;
                    padding: 8px 0;
                    transition: all linear .3s;

                    &:hover {
                      color: $brand_clr;
                    }
                  }

                }

                // ========= Grid ============
                .grid {
                  .subMega_heading {
                    display: flex;
                    justify-content: space-between;

                    a {
                      font-size: 14px;
                      line-height: 14px;
                      font-weight: 400;
                      color: $mega_clr;
                      padding: 8px 0;
                      transition: all linear .3s;

                      &:hover {
                        color: $brand_clr;
                      }
                    }
                  }



                  .subMega_menu {
                    padding: 20px;
                    width: 215px;
                    background: #fff;
                    position: absolute;
                    top: 0%;
                    left: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    visibility: 0;
                    opacity: 0;
                    transition: all linear .2s;
                  }

                  &:hover .subMega_menu {
                    visibility: visible;
                    opacity: 1;
                    top: 30%;
                  }
                }

                // ========= Masonry ============
                .masonry {
                  .subMega_heading {
                    display: flex;
                    justify-content: space-between;

                    a {
                      font-size: 14px;
                      line-height: 14px;
                      font-weight: 400;
                      color: $mega_clr;
                      padding: 8px 0;
                      transition: all linear .3s;

                      &:hover {
                        color: $brand_clr;
                      }
                    }
                  }



                  .subMega_menu {
                    padding: 20px;
                    width: 215px;
                    background: #fff;
                    position: absolute;
                    top: 30%;
                    left: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    visibility: hidden;
                    opacity: 0;
                    transition: all linear .2s;
                  }

                  &:hover .subMega_menu {
                    visibility: visible;
                    opacity: 1;
                    top: 55%;
                  }
                }

                // ========= Mask ============
                .mask {
                  .subMega_heading {
                    display: flex;
                    justify-content: space-between;

                    a {
                      font-size: 14px;
                      line-height: 14px;
                      font-weight: 400;
                      color: $mega_clr;
                      padding: 8px 0;
                      transition: all linear .3s;

                      &:hover {
                        color: $brand_clr;
                      }
                    }
                  }



                  .subMega_menu {
                    padding: 20px;
                    width: 215px;
                    background: #fff;
                    position: absolute;
                    top: 55%;
                    left: 100%;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    visibility: hidden;
                    opacity: 0;
                    transition: all linear .2s;
                  }

                  &:hover .subMega_menu {
                    visibility: visible;
                    opacity: 1;
                    top: 70%;
                  }
                }

              }
            }
          }

          &:hover .mega_menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }

        }

        // ===========Pages Menu============
        .menuItem_pages {
          padding: 12px 5px;
          cursor: pointer;

          a {
            font-size: 14px;
            line-height: 15px;
            font-weight: 600;
            color: $text_clr;
            transition: all linear .3s;

            span {
              font-size: 12px;
              padding-left: 2px;
            }
          }

          &:hover a {
            color: $brand_clr;
          }

          .mega_menu {
            width: 215px;
            background: #fff;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            z-index: 999;
            top: 85%;
            visibility: hidden;
            opacity: 0;
            transition: all linear .2s;

            .megaMenu_items {
              padding: 20px;

              ul {

                // =========li============
                li {
                  a {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 400;
                    color: $mega_clr;
                    padding: 8px 0;
                    transition: all linear .3s;

                    &:hover {
                      color: $brand_clr;
                    }
                  }

                }
              }
            }
          }

          &:hover .mega_menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }

        }

        // ===========Pages Menu============
        .menuItem_elements {
          padding: 12px 5px;
          cursor: pointer;

          a {
            font-size: 14px;
            line-height: 15px;
            font-weight: 600;
            color: $text_clr;
            transition: all linear .3s;

            span {
              font-size: 12px;
              padding-left: 2px;
            }
          }

          &:hover a {
            color: $brand_clr;
          }

          .mega_menu {
            width: 215px;
            background: #fff;

            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            position: absolute;
            z-index: 999;
            top: 85%;
            visibility: hidden;
            opacity: 0;
            transition: all linear .2s;

            .megaMenu_items {
              padding: 20px;

              ul {

                // =========li============
                li {
                  a {
                    font-size: 14px;
                    line-height: 14px;
                    font-weight: 400;
                    color: $mega_clr;
                    padding: 8px 0;
                    transition: all linear .3s;

                    &:hover {
                      color: $brand_clr;
                    }
                  }

                }
              }
            }
          }

          &:hover .mega_menu {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }

        }


      }

    }


    // ============= Menu part End ==============



  }



}


// ========= Popular Departments part Start ========
#popular_department {
  @include title;
  margin-top: 50px;
  margin-bottom: 50px;

  .popular_heading {
    text-align: center;

    h2 {
      @include heading
    }
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  // =======Popular bottom banner=======

  .popular_banner {
    img {
      border-radius: 3px;
    }

    position: relative;

    .popubantext_right {
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 0 0 30px;

      p {
        font-size: 14px;
        line-height: 17px;
        color: #eeeeee;
        font-weight: 600;
        margin-bottom: 8px;
      }

      h3 {
        font-size: 28px;
        line-height: 31px;
        font-weight: 700;
        color: #fff;
        width: 70%;
        margin-bottom: 30px;
      }

      button {
        border: none;
        background: transparent;
        position: relative;

        a {
          font-size: 14px;
          font-weight: 600;
          line-height: 14px;
          color: #fff;
        }

        &::after {
          content: "";
          position: absolute;
          background: #fff;
          width: 0;
          height: 15%;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          transition: all linear .3s;
        }

        &:hover::after {
          width: 100%;
        }

      }

    }

    .popubantext_left {
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 0 0 30px;

      p {
        font-size: 14px;
        line-height: 17px;
        color: $text_clr;
        font-weight: 600;
        margin-bottom: 8px;

      }

      h3 {
        font-size: 28px;
        line-height: 31px;
        font-weight: 700;
        color: $text_clr;
        width: 70%;
        margin-bottom: 30px;
      }

      button {
        border: none;
        background: transparent;
        position: relative;

        a {
          font-size: 14px;
          font-weight: 600;
          line-height: 14px;
          color: $text_clr;
        }

        &::after {
          content: "";
          position: absolute;
          background: $text_clr;
          width: 0;
          height: 15%;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          transition: all linear .3s;
        }

        &:hover::after {
          width: 100%;
        }

      }



    }

  }

}

// ========= Popular Departments part End ========