@import "../variables/variables";
@import "../mixins/mixins";

#header {
  @include title;

  .header_top {
    background: $primary_clr;
    padding: 16px;

    .header_right {
      display: flex;
      justify-content: end;

      .dropdown_elements {
        display: flex;
        gap: 20px;
        border-right: 2px solid #ccc;
        padding-right: 20px;

        .dropdown {
          .dropdown_item {
            display: flex;
            gap: 5px;
            align-items: center;
            cursor: pointer;

            p {
              transition: .3s;

              &:hover {
                color: $brand_clr;
              }
            }

            span {
              font-size: 10px;
              margin-left: 2px;
            }
          }

          .dropdown_box {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px;
            background-color: rgb(255, 255, 255);
            text-align: center;
            position: absolute;
            left: 50%;
            top: 100%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            transition: all linear .3s;
            transform: translateX(-50%);
            visibility: hidden;
            opacity: 0;

            li {
              display: flex;
              gap: 5px;
              color: $brand_clr;
            }

          }

          &:hover .dropdown_box {
            visibility: visible;
            opacity: 1;
            left: 50%;
            top: 150%;
          }
        }
      }

      .header_account {
        ul {
          display: flex;
          gap: 20px;
          padding-left: 20px;

          a {
            color: $brand_clr;
          }
        }
      }
    }
  }

  // ===========Header Middle Start=========

  .header_middle {

    padding: 30px;

    .header_left {
      display: flex;
      gap: 80px;
      align-items: center;

      img {
        width: 150px;
      }

      .search_box {
        border: 2px solid #be3265;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding: 6px;

        .categories_box {
          border-right: 1px solid #ccc;
          padding: 10px;
          margin-right: 14px;

          .custom_dropdown {
            border: none;
            color: #666;
          }

        }

        input {
          border: none;
          width: 350px;
        }

        button {
          border: none;
          background: transparent;
          padding-right: 10px;
          color: #757575;
          font-size: 17px;
        }
      }

    }


    // ===========Header Middle right Start=========
    .hadder_right {
      display: flex;
      align-items: center;

      .right_side {
        display: flex;

        .live_chat {
          display: flex;
          align-items: center;
          gap: 10px;
          border-right: 1px solid #ccc;
          padding-right: 25px;

          ul {
            a {
              font-size: 30px;
              color: #333;
            }
          }

          .chat_info {
            p {
              font-size: 16px;
              line-height: 15px;

              span {
                color: #999999;
              }
            }

            a {
              font-size: 15px;
              font-weight: 700;
              line-height: 27px;
              color: #333;
            }

          }
        }

        .cart {
          display: flex;
          align-items: center;
          gap: 25px;
          padding-left: 25px;

          a {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            color: #333;
            font-size: 27px;

            span {
              font-size: 12px;
            }

            .select_items {
              position: absolute;
              top: -4px;
              left: 13px;
              color: #ffffff;
              font-size: 11px;
              line-height: 6px;
              background: $brand_clr;
              border-radius: 50px;
              padding: 5px;
            }
          }
        }

        .cart_offcanvas {
          width: 340px;
          padding: 30px;

          .offcanvas_title {
            border-bottom: 1px solid $secondary_clr;
            padding: 0 0 14px 0;

            h5 {
              font-size: 16px;
              line-height: 16px;
              font-weight: 700;
              color: #333;
            }

            button {
              border: none;
              background: transparent;
              color: #666666;
            }
          }

          .cart_list {
            padding: 0;

            .cart_items {
              .product_list {
                display: flex;
                padding: 20px 0 0 0;

                .product_name {
                  margin-right: 50px;

                  h4 {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                    padding-top: 6px;
                    padding-bottom: 12px;
                  }

                  p {
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #999999;

                    span {
                      color: #336699;
                      font-size: 16px;
                      line-height: 26px;
                      font-weight: 600;
                    }
                  }
                }

                img {
                  width: 80px;
                  height: 90px;
                }
              }
            }

            .total_amount {
              padding-top: 20px;

              .price {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 20px;
                border-top: 1px solid $secondary_clr;

                h6 {
                  font-size: 14px;
                  line-height: 14px;
                  color: #333;
                  font-weight: 600;
                }

                p {
                  font-size: 16px;
                  line-height: 16px;
                  color: #333;
                  font-weight: 600;
                }
              }
            }

            .checkout {
              display: flex;
              justify-content: space-between;
              padding-top: 30px;

              .view_cart {
                font-size: 13px;
                line-height: 13px;
                font-weight: 600;
                padding: 10px 30px;
                border-radius: 3px;
                transition: .3s;

                &:hover {
                  background: #336699;
                  color: #fff;
                  border: 2px solid #336699;
                }
              }

              .checkout_btn {
                font-size: 13px;
                line-height: 13px;
                font-weight: 600;
                padding: 10px 30px;
                border-radius: 3px;
                transition: .3s;
                background: #336699;
                border: 2px solid #336699;
                color: #fff;

                &:hover {
                  background: #3c78b4;
                  border: 2px solid #3c78b4;

                }
              }
            }

          }
        }

      }
    }
  }

  // ============= Main Menu Start ===========

  .main_menu {

    // ===========Browse Categories Start=========
    .brows_category {
      h2 {
        font-size: 14px;
        font-weight: 600;
        background: #f1f1f1;
        padding: 20px;

        a {
          display: flex;
          justify-content: space-between;
          color: $text_clr;
        }

      }

      position: relative;

      .category_box {
        background: rgb(255, 255, 255);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 8px 0 8px 8px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


        .category_menu {
          >li {
            border-bottom: 1px solid $secondary_clr;
            padding: 13px 14px 13px 12px;
            cursor: pointer;

            a {
              display: flex;

              justify-content: space-between;
              font-size: 13px;
              font-weight: 500;
              color: $text_clr;

              span i {
                padding-right: 7px; //brows_category logo to fashion gap
                font-size: 15px;

              }

              .catemenu_arrow i {
                font-size: 10px;
                transition: all linear .2s;
              }

            }

            &:hover .catemenu_arrow i {
              transform: translateX(50%);
            }
          }

          //========Mega Menu for Fashion========
          .mega_menufashion {

            display: flex;
            gap: 20px;
            position: absolute;
            top: 0;
            left: 96%;
            width: 685px;
            background: #fff;

            transition: all linear .1s;
            padding-left: 20px;
            box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
            visibility: hidden; // mega menu hidden, mega menu hidden 
            opacity: 0; // mega menu hidden, mega menu hidden 

            .megamenu_items {
              h4 {
                border-bottom: 1px solid $secondary_clr;
                padding-bottom: 10px;
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                padding-top: 25px;
              }

              ul {
                width: 195px;
                padding-top: 6px;

                li {
                  padding-top: 10px;
                }

                a {

                  font-size: 14px;
                  line-height: 14px;
                  color: $mega_clr;
                }

              }
            }

            .category_img {
              position: relative;

              .fashionimg_text {
                // ======Fashion=======
                position: absolute;
                top: 0;
                left: 0;
                padding: 30px 0 0 30px;

                p {
                  line-height: 14px;
                  font-weight: 600px;

                  span {
                    color: #fc6782;
                    font-weight: 700;
                  }
                }

                h3 {
                  font-size: 25px;
                  line-height: 30px;
                  font-weight: 700;
                  padding: 5px 0 14px 0;
                }

                a {
                  font-size: 13px;
                  color: #000;
                  font-weight: 600;

                  i {
                    transition: all linear .2s;
                  }

                  &:hover i {
                    transform: translatex(50%);

                  }
                }

              }
            }
          }

          //======Mega Menu for Home========
          .mega_menuhome {

            display: flex;
            gap: 20px;
            position: absolute;
            top: 10%;
            left: 96%;
            width: 685px;
            background: #fff;

            transition: all linear .1s;
            padding-left: 20px;
            box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
            visibility: hidden; // mega menu hidden, mega menu hidden 
            opacity: 0; // mega menu hidden, mega menu hidden 

            .megamenu_items {
              h4 {
                border-bottom: 1px solid $secondary_clr;
                padding-bottom: 10px;
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                padding-top: 25px;
              }

              ul {
                width: 195px;
                padding-top: 6px;

                li {
                  padding-top: 10px;
                }

                a {

                  font-size: 14px;
                  line-height: 14px;
                  color: $mega_clr;
                }

              }
            }

            .category_img {
              position: relative;

              .homeimg_text {
                // ======Home & Garden=======
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0 0 30px 30px;

                h6 {
                  font-size: 16px;
                  line-height: 19px;
                  color: #fff;
                  padding-bottom: 5px;
                }

                h3 {
                  font-size: 25px;
                  line-height: 30px;
                  color: #fff;
                  font-weight: 700;

                }

                p {
                  font-size: 20px;
                  line-height: 20px;
                  font-weight: 600px;
                  color: #fff;
                  padding-bottom: 23px;

                  span {
                    color: #fc6782;
                    font-weight: 700;
                    color: #F77C29;
                  }
                }

                a {
                  font-size: 13px;
                  color: #fff;
                  font-weight: 600;
                  line-height: 14px;

                  i {
                    transition: all linear .2s;
                  }

                  &:hover i {
                    transform: translatex(50%);

                  }
                }
              }
            }
          }


          //======Mega Menu for Electronics========
          .mega_menuelectronics {

            display: flex;
            gap: 20px;
            position: absolute;
            top: 18%;
            left: 96%;
            width: 685px;
            background: #fff;

            transition: all linear .1s;
            padding-left: 20px;
            box-shadow: -9px 0px 13px -4px rgba(0, 0, 0, 0.1);
            visibility: hidden; // mega menu hidden, mega menu hidden 
            opacity: 0; // mega menu hidden, mega menu hidden 

            .megamenu_items {
              h4 {
                border-bottom: 1px solid $secondary_clr;
                padding-bottom: 10px;
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                padding-top: 25px;
              }

              ul {
                width: 195px;
                padding-top: 6px;

                li {
                  padding-top: 10px;
                }

                a {

                  font-size: 14px;
                  line-height: 14px;
                  color: $mega_clr;
                }

              }
            }

            .category_img {
              position: relative;

              .homeimg_text {
                // ======Home & Garden=======
                position: absolute;
                top: 0;
                left: 0;
                padding: 30px 0 0 30px;

                p {
                  font-size: 14px;
                  line-height: 17px;
                  font-weight: 400px;
                  color: #ccc;
                  padding-bottom: 11px;
                }

                h3 {
                  font-size: 22px;
                  font-weight: 700;
                  line-height: 25px;
                  color: #fff;
                  padding-bottom: 3px;
                }

                h6 {
                  font-size: 22px;
                  line-height: 22px;
                  color: #f77c29;
                  font-weight: 700;
                  padding-bottom: 16px;
                }

                button {
                  background: transparent;
                  border: 2px solid #fff;
                  border-radius: 3px;

                  a {
                    font-size: 13px;
                    color: #fff;
                    font-weight: 600;
                    line-height: 14px;
                    padding: 10px 20px;
                    transition: all linear .3s;
                  }

                  &:hover a {
                    background: #fff;
                    color: $brand_clr;
                  }

                }
              }
            }
          }

          //======Mega Menu for Furniture========
          .mega_menufurniture {

            // display: flex;
            // gap: 20px;
            position: absolute;
            top: 26%;
            left: 96%;
            width: 880px;
            background: #fff;

            transition: all linear .1s;
            padding-left: 20px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            visibility: hidden; // mega menu hidden, mega menu hidden 
            opacity: 0; // mega menu hidden, mega menu hidden 

            .megamenu_list {
              display: flex;
              gap: 20px;

              .megamenu_items {
                h4 {
                  border-bottom: 1px solid $secondary_clr;
                  padding-bottom: 10px;
                  font-size: 14px;
                  line-height: 14px;
                  font-weight: 600;
                  padding-top: 25px;
                }

                ul {
                  width: 195px;
                  padding-top: 6px;

                  li {
                    padding-top: 10px;
                  }

                  a {

                    font-size: 14px;
                    line-height: 14px;
                    color: $mega_clr;
                  }

                }
              }
            }

            .img_list {
              display: flex;
              gap: 20px;
              padding-top: 30px;
              padding-bottom: 20px;

              .category_img {
                position: relative;

                .imgtext_left {

                  position: absolute;
                  top: 0;
                  right: 0;
                  padding: 25px 25px 0 0;

                  h6 {
                    font-size: 13px;
                    line-height: 16px;
                    color: #fff;
                    font-weight: 400;
                    padding-bottom: 4px;
                    text-align: end;
                    color: $mega_clr;
                  }

                  h3 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    color: $text_clr;
                    padding-bottom: 14px;
                  }

                  p {
                    font-size: 13px;
                    line-height: 13px;
                    font-weight: 400px;
                    color: $text_clr;
                    text-align: end;

                    span {
                      font-size: 14px;
                      line-height: 14px;
                      font-weight: 700;
                    }
                  }
                }

                .imgtext_right {

                  position: absolute;
                  top: 0;
                  left: 0;
                  padding: 25px 0 0 25px;

                  h6 {
                    font-size: 13px;
                    line-height: 16px;
                    color: #fff;
                    font-weight: 400;
                    padding-bottom: 4px;
                  }

                  h3 {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    color: #fff;
                    padding-bottom: 14px;
                  }

                  p {
                    font-size: 13px;
                    line-height: 13px;
                    font-weight: 400px;
                    color: #fff;

                    // padding-bottom: 11px;
                    span {
                      font-size: 14px;
                      line-height: 14px;
                      font-weight: 700;
                    }
                  }
                }

                img {
                  border-radius: 3px;
                }

              }

            }
          }


          // ====Fashion Mega Menu hover=======
          &:hover .mega_menufashion {
            visibility: visible;
            opacity: 1;
            left: 100%;
          }

          // ====Home Mega Menu hover=======
          &:hover .mega_menuhome {
            visibility: visible;
            opacity: 1;
            left: 100%;
          }

          // ====Electronics Mega Menu hover=======
          &:hover .mega_menuelectronics {
            visibility: visible;
            opacity: 1;
            left: 100%;
          }

          // ====Furniture Mega Menu hover=======
          &:hover .mega_menufurniture {
            visibility: visible;
            opacity: 1;
            left: 100%;
          }

        }

        .all_categories {
          li {
            padding: 18px 12px 10px 12px;
            border-bottom: none;
            display: flex;

            a {
              display: flex;
              gap: 5px;
              align-items: center;
              color: $brand_clr;
              font-weight: 600;
            }
          }

        }
      }
    }

    // ===========Browse Categories End=========


    // ============= Menu part Start ==============

    .menu {}

    // ============= Menu part End ==============


  }

}


// ========== Service & Offer part Start===========

#service {
  @include title;
  margin-top: 610px;
  margin-bottom: 60px;

  .service_items {
    border: 1px solid $secondary_clr;
    padding: 23px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    .service_option {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: center;

      i {
        font-size: 30px;
        color: $brand_clr;
      }

      h4 {
        font-size: 14px;
        color: $text_clr;
        line-height: 17px;
        font-weight: 600;
        padding-bottom: 5px;
      }

      p {
        font-size: 13px;
        line-height: 13px;
        color: $mega_clr;
      }
    }
  }

  .offer {
    img {
      border-radius: 3px;
    }

    position: relative;

    .offertext_right {
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 0 0 30px;

      h6 {
        font-size: 18px;
        line-height: 22px;
        color: $text_clr;
        padding-bottom: 7px;

        span {
          font-weight: 700;
          color: #f77c29;
        }
      }

      h3 {
        font-size: 26px;
        line-height: 30px;
        font-weight: 800;
        color: $text_clr;
      }

      h4 {
        font-weight: 400;
        padding-bottom: 20px;
      }

      p {
        font-size: 14px;
        line-height: 22px;
        color: $mega_clr;

        span {
          font-weight: 700;
          color: #f77c29;
        }
      }
    }

    .offertext_left {
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 0 0 30px;

      h6 {
        font-size: 18px;
        line-height: 22px;
        color: $text_clr;
        padding-bottom: 7px;
        color: #c4c4c5;
      }

      h3 {
        font-size: 26px;
        line-height: 30px;
        font-weight: 800;
        color: #fff;
      }

      h4 {
        font-weight: 400;
        padding-bottom: 20px;
        color: #fff;
      }

      p {
        font-size: 14px;
        line-height: 22px;
        color: #fff;

        span {
          font-weight: 700;
          color: #f77c29;
        }
      }
    }

  }

}

// ========== Service & Offer part End===========


// ========== Hot deals part Start===========

#hot_deals {
  padding-bottom: 60px;

  h2 {
    font-size: 50px;
    padding: 180px;
    color: #fff;
    background: #336699;
  }

  h3 {
    padding: 30px;
    background: #666;
    color: #fff;
  }
}

// ========== Hot deals part End===========


// ========== Top Categories part Start ==========

#top_categories {
  @include title;
  // margin-bottom: 100px;
  background: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;

  .categories_heading {
    text-align: center;
    padding: 5px 0 25px 0;

    h2 {
      @include heading;
    }
  }

  .categories_items {
    position: relative;

    img {
      transition: transform 0.3s ease;
    }

    .item_text {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);

      h4 {
        font-size: 14px;
        font-weight: 600;
        color: $text_clr;
        visibility: visible;
        opacity: 1;
        transition: all linear .2s;
      }
    }

    .hidden {
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translateX(-50%);

      h3 {
        font-size: 14px;
        font-weight: 600;
        color: $brand_clr;
        visibility: hidden;
        opacity: 0;
        transition: all linear .2s;
      }

    }

    &:hover {

      img {
        // transform: translate(5%);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }

      .item_text h4 {
        visibility: hidden;
        opacity: 0;
        // bottom: 50%;
        // left: 50%;
        transform: translateY(-80%);
      }

      .hidden h3 {
        visibility: visible;
        opacity: 1;
        bottom: 20%;
        left: 50%;
        transform: translateY(-80%);
      }

    }


  }

}

// ========== Top Categories part End ===========

