@import "../variables/variables";
@import "../mixins/mixins";

#pages_subheader{
    @include title;
    background-color: #eeeeee;
    text-align: center;
    padding: 70px 0;

    h1{
        font-size: 34px;
        line-height: 37px;
        font-weight: 700;
        color: $text_clr;
    }
}