@import "../variables/variables";
@import "../mixins/mixins";

#counter {
    @include title;
    margin-top: 75px;
    margin-bottom: 75px;

    .counter_text {
        text-align: center;

        h3 {
            font-size: 60px;
            line-height: 92px;
            font-weight: 800;
            color: #cccccc;
        }

        h4 {
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: $text_clr;
            padding-bottom: 12px;
        }

        p {
            font-size: 14px;
            line-height: 26px;
            font-weight: 400;
            color: $mega_clr;
            padding-bottom: 20px;
            width: 300px;
            margin: 0 auto;
        }
    }

}