@import "../variables/variables";
@import "../mixins/mixins";



#service {
    @include title;
    margin-top: 30px;
    margin-bottom: 60px;
  
    .service_items {
      border: 1px solid $secondary_clr;
      padding: 23px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      margin-bottom: 60px;
  
      .service_option {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
  
        i {
          font-size: 30px;
          color: $brand_clr;
        }
  
        h4 {
          font-size: 14px;
          color: $text_clr;
          line-height: 17px;
          font-weight: 600;
          padding-bottom: 5px;
        }
  
        p {
          font-size: 13px;
          line-height: 13px;
          color: $mega_clr;
        }
      }
    }
  
    // ========== Offer part Start===========
    .offer {
      img {
        border-radius: 3px;
      }
  
      position: relative;
  
      .offertext_right {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 0 0 30px;
  
        h6 {
          font-size: 18px;
          line-height: 22px;
          color: $text_clr;
          padding-bottom: 7px;
  
          span {
            font-weight: 700;
            color: #f77c29;
          }
        }
  
        h3 {
          font-size: 26px;
          line-height: 30px;
          font-weight: 800;
          color: $text_clr;
        }
  
        h4 {
          font-weight: 400;
          padding-bottom: 20px;
        }
  
        p {
          font-size: 14px;
          line-height: 22px;
          color: $mega_clr;
  
          span {
            font-weight: 700;
            color: #f77c29;
          }
        }
      }
  
      .offertext_left {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 0 0 30px;
  
        h6 {
          font-size: 18px;
          line-height: 22px;
          color: $text_clr;
          padding-bottom: 7px;
          color: #c4c4c5;
        }
  
        h3 {
          font-size: 26px;
          line-height: 30px;
          font-weight: 800;
          color: #fff;
        }
  
        h4 {
          font-weight: 400;
          padding-bottom: 20px;
          color: #fff;
        }
  
        p {
          font-size: 14px;
          line-height: 22px;
          color: #fff;
  
          span {
            font-weight: 700;
            color: #f77c29;
          }
        }
      }
  
    }
  
  }