@import "../variables/variables";
@import "../mixins/mixins";

#top_categories {
    @include title;
    // margin-bottom: 100px;
    background: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;

    .categories_heading {
        text-align: center;
        padding: 5px 0 25px 0;

        h2 {
            @include heading;
        }
    }

    .categories_items {
        position: relative;
overflow: hidden;
background-color: #fff;
        .item_text {
            position: absolute;
            // background: rgb(71, 71, 6);
            width: 100%;
            height: 30px;
            bottom: 10px;
            left: 0;
            text-align: center;
            overflow: hidden;

            h5,
            h6 {
                font-size: 14px;
                line-height: 14px;
                color: $text_clr;
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                transition: all linear .2s;
            }

            h6 {
                bottom: -15px;
            }
        }

        &:hover h5 {
            bottom: 30px;
        }

        &:hover h6 {
            font-size: 15px;
            font-weight: 600;
            color: $brand_clr;
            bottom: 10px;
        }
        img {
            transition: transform 0.3s ease;
          }
        &:hover img{
            // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            transform: scale(1.1);
        }

    }

}