$primary_clr:#f5f6f8; // background color
$text_clr:#333333; // all text color
$brand_clr: #fc6782; // logo and hover color
$secondary_clr: #66666633; // border color with opacity
$mega_clr: #666666; ///mega_menu text color
$offer_clr: #f77c29 // using in 20% off or % off