*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin: 0;
    padding: 0;
}